body {
  font-family: "IPA明朝", "IPAMincho", serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: #f6e7c3;
  color: #4a3b2c;
  text-shadow: 0 0 0.5px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
}
