---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>STarUDYYY</title>
  </head>
  <body>
    <div id="container">
      <header>
	<h1>STarUDYYY</h1>
      </header>
      <main>
      </main>
    </div>
  </body>
</html>

<style>
  :global(body) {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: #502200;
    color: #000000;
    box-sizing: border-box;
  }

  header {
    padding: 1.5rem;
    text-align: center;
  }

  #container {
    width: 85vw;
    height: 95vh;

    background-color: #fff8E7;
  }
</style>
