---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>STarUDYYY</title>
  </head>
  <body>
    <div class="container">
      <main>
	<div class="page">
	  hello
	</div>
	<div class="page">
	  hello
	</div>
      </main>
    </div>
  </body>
</html>

<style>
  :global(body) {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: #3E2723;
    color: #000000;
    box-sizing: border-box;
  }
  
  .container {
    width: 85vw;
    height: 95vh;

    background-color: #fff8E7;
  }

  header {
    padding: 1.5rem;
    text-align: center;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .page {
    width: 100%;
    height: 100%;
    background: #fff8E7;
  }
</style>
